In [1]:
import pandas as pd
import numpy as np
from unidecode import unidecode
import os

# from embrapa_api.preprocessing.preprocessors import BasePreprocessor
from embrapa_api.config import CSV_FILES_FOLDER
from embrapa_api.preprocessing.constants import IMPORTACAO_PATHS

In [2]:
IMPORTACAO_PATHS

{'Vinhos': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpVinhos.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpVinhos.csv'},
 'Sucos': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpSuco.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpSuco.csv'},
 'Espumantes': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpEspumantes.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpEspumantes.csv'},
 'Frescas': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpFrescas.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpFrescas.csv'},
 'Passas': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpPassas.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpPassas.csv'}}

In [3]:
importacao_paths = IMPORTACAO_PATHS

In [4]:
importacao_paths

{'Vinhos': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpVinhos.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpVinhos.csv'},
 'Sucos': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpSuco.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpSuco.csv'},
 'Espumantes': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpEspumantes.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpEspumantes.csv'},
 'Frescas': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpFrescas.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpFrescas.csv'},
 'Passas': {'url': 'http://vitibrasil.cnpuv.embrapa.br/download/ImpPassas.csv',
  'path': '/Users/mauricioaraujo/Eng_ML/FIAP/Tech Challenges/FIAP_Projeto_01/data/csv_files/importacao/ImpPassas.csv'}}

In [5]:
produto_importacao = "Vinhos"

try:
    data = pd.read_csv(importacao_paths[produto_importacao]["url"], sep=';')
    
except Exception as e:
    print(e)
    data = pd.read_csv(importacao_paths[produto_importacao]["path"], sep=';')

In [14]:
data.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Africa do Sul,0,0.0,0,0,0,0,0,0,...,1092042,3604038,627150,1701072,859169,2508140,738116,2266827,522733,1732850
1,2,Alemanha,52297,30498.0,34606,26027,134438,92103,111523,98638,...,101055,412794,136992,504168,106541,546967,92600,438595,102456,557947
2,3,Argélia,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0.0,0,0,0,0,0,0,...,0,0,0,0,2510,8761,0,0,8,161
4,5,Argentina,19525,12260.0,24942,15022,104906,58137,116887,76121,...,16548931,54527380,22610267,66322932,26869241,79527959,27980574,87519642,25276991,83918138

In [8]:
data.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Africa do Sul,0,0.0,0,0,0,0,0,0,...,1092042,3604038,627150,1701072,859169,2508140,738116,2266827,522733,1732850
1,2,Alemanha,52297,30498.0,34606,26027,134438,92103,111523,98638,...,101055,412794,136992,504168,106541,546967,92600,438595,102456,557947
2,3,Argélia,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0.0,0,0,0,0,0,0,...,0,0,0,0,2510,8761,0,0,8,161
4,5,Argentina,19525,12260.0,24942,15022,104906,58137,116887,76121,...,16548931,54527380,22610267,66322932,26869241,79527959,27980574,87519642,25276991,83918138

In [16]:
keys = ["Id", "País"]
valor_cols = [col for col in data.columns if '.1' in col]
qtd_importada_cols = [col for col in data.columns.difference(keys) if col not in valor_cols]

In [20]:
qtd_importadas_df = (
    data[keys + qtd_importada_cols]
    .melt(id_vars=keys, var_name="ano", value_name="uvas_importadas_kg")
    .rename(columns={
        "Id": "CD_PAIS",
        "País": "NM_PAIS",
        "ano": "DT_ANO",
        "uvas_importadas_kg": "QTD_IMPORTADO_KG"
    })
)
vr_valor_df = (
    data[keys + valor_cols]
    .melt(id_vars=keys, var_name="ano", value_name="valor")
    .rename(columns={
        "Id": "CD_PAIS",
        "País": "NM_PAIS",
        "ano": "DT_ANO",
        "valor": "VL_VALOR_IMPORTADO_USD"
    })
    .assign(DT_ANO= lambda x: x["DT_ANO"].str.split(".").str[0])
)


rf_data = (
    qtd_importadas_df
    .merge(vr_valor_df, on=["CD_PAIS", "NM_PAIS", "DT_ANO"])
    .assign(NM_ITEM=produto_importacao)
)
rf_data = (
    rf_data[
        ['NM_PAIS', 'DT_ANO', 'NM_ITEM', 'QTD_IMPORTADO_KG', 'VL_VALOR_IMPORTADO_USD']
    ]
    .sort_values(['NM_PAIS', 'DT_ANO'])
)

NameError: name 'keys' is not defined

In [18]:
rf_data.head()

,CD_PAIS,NM_PAIS,DT_ANO,NM_ITEM,QTD_IMPORTADO_KG,VL_VALOR_IMPORTADO_USD
0,1,Africa do Sul,1970,Vinhos,0,0.0
68,1,Africa do Sul,1971,Vinhos,0,0.0
136,1,Africa do Sul,1972,Vinhos,0,0.0
204,1,Africa do Sul,1973,Vinhos,0,0.0
272,1,Africa do Sul,1974,Vinhos,0,0.0

In [40]:
vr_valor_df

      CD_PAIS               NM_PAIS DT_ANO  VL_VALOR_IMPORTADO_USD
0           1         Africa do Sul   1970                     0.0
1           2              Alemanha   1970                 30498.0
2           3               Argélia   1970                     0.0
3           4        Arábia Saudita   1970                     0.0
4           5             Argentina   1970                 12260.0
...       ...                   ...    ...                     ...
3667       64               Ucrânia   2023                     0.0
3668       65               Uruguai   2023               9276001.0
3669       66  Não consta na tabela   2023                     0.0
3670       67        Não declarados   2023                     0.0
3671       68                Outros   2023                     0.0

[3672 rows x 4 columns]

In [53]:
rf_data.query("CD_PAIS == 1")

,CD_PAIS,NM_PAIS,DT_ANO,NM_ITEM,QTD_IMPORTADO_KG,VL_VALOR_IMPORTADO_USD
0,1,Africa do Sul,1970,Vinhos,0,0.0
68,1,Africa do Sul,1971,Vinhos,0,0.0
136,1,Africa do Sul,1972,Vinhos,0,0.0
204,1,Africa do Sul,1973,Vinhos,0,0.0
272,1,Africa do Sul,1974,Vinhos,0,0.0
340,1,Africa do Sul,1975,Vinhos,0,0.0
408,1,Africa do Sul,1976,Vinhos,0,0.0
476,1,Africa do Sul,1977,Vinhos,0,0.0
544,1,Africa do Sul,1978,Vinhos,0,0.0
612,1,Africa do Sul,1979,Vinhos,0,0.0
680,1,Africa do Sul,1980,Vinhos,0,0.0
748,1,Africa do Sul,1981,Vinhos,0,0.0
816,1,Africa do Sul,1982,Vinhos,0,0.0
884,1,Africa do Sul,1983,Vinhos,0,0.0
952,1,Africa do Sul,1984,Vinhos,0,0.0
1020,1,Africa do Sul,1985,Vinhos,0,0.0
1088,1,Africa do Sul,1986,Vinhos,0,0.0
1156,1,Africa do Sul,1987,Vinhos,0,0.0
1224,1,Africa do Sul,1988,Vinhos,0,0.0
1292,1,Africa do Sul,1989,Vinhos,0,0.0
1360,1,Africa do Sul,1990,Vinhos,0,0.0
1428,1,Africa do Sul,1991,Vinhos,0,0.0
1496,1,Africa do Sul,1992,Vinhos,0,0.0
1564,1,Africa do Sul,1993,Vinhos,0,0.0
1632,1,Africa do Sul,1994,Vinhos,0,0.0
1700,1,Africa do Sul,1995,Vinhos,0,0.0
1768,1,Africa do Sul,1996,Vinhos,0,0.0
1836,1,Africa do Sul,1997,Vinhos,0,0.0
1904,1,Africa do Sul,1998,Vinhos,0,0.0
1972,1,Africa do Sul,1999,Vinhos,0,0.0
2040,1,Africa do Sul,2000,Vinhos,0,0.0
2108,1,Africa do Sul,2001,Vinhos,42661,99201.0
2176,1,Africa do Sul,2002,Vinhos,32194,106317.0
2244,1,Africa do Sul,2003,Vinhos,157239,305701.0
2312,1,Africa do Sul,2004,Vinhos,303489,665101.0
2380,1,Africa do Sul,2005,Vinhos,407413,775421.0
2448,1,Africa do Sul,2006,Vinhos,358870,1164032.0
2516,1,Africa do Sul,2007,Vinhos,386425,1320244.0
2584,1,Africa do Sul,2008,Vinhos,315380,1151699.0
2652,1,Africa do Sul,2009,Vinhos,493093,1931449.0
2720,1,Africa do Sul,2010,Vinhos,966276,3600658.0
2788,1,Africa do Sul,2011,Vinhos,507509,2136394.0
2856,1,Africa do Sul,2012,Vinhos,722327,3041449.0
2924,1,Africa do Sul,2013,Vinhos,475331,1985184.0
2992,1,Africa do Sul,2014,Vinhos,722715,3033932.0
3060,1,Africa do Sul,2015,Vinhos,743335,2996543.0
3128,1,Africa do Sul,2016,Vinhos,578829,1686226.0
3196,1,Africa do Sul,2017,Vinhos,1138732,3241298.0
3264,1,Africa do Sul,2018,Vinhos,1127053,3574371.0
3332,1,Africa do Sul,2019,Vinhos,1092042,3604038.0
3400,1,Africa do Sul,2020,Vinhos,627150,1701072.0
3468,1,Africa do Sul,2021,Vinhos,859169,2508140.0
3536,1,Africa do Sul,2022,Vinhos,738116,2266827.0
3604,1,Africa do Sul,2023,Vinhos,522733,1732850.0

In [54]:
rf_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3672 entries, 0 to 3671
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CD_PAIS                 3672 non-null   int64
 1   NM_PAIS                 3672 non-null   object
 2   DT_ANO                  3672 non-null   object
 3   NM_ITEM                 3672 non-null   object
 4   QTD_IMPORTADO_KG        3672 non-null   int64
 5   VL_VALOR_IMPORTADO_USD  3671 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 200.8+ KB

# Teste classe

In [3]:
from embrapa_api.preprocessing.preprocessors import ImportacaoPreprocessor

In [6]:
importacaoPreprocessor = ImportacaoPreprocessor()

In [4]:
# vinhos = self.processa_vinhos()
# sucos = self.processa_sucos()
# espumantes = self.processa_espumantes()
# frescas = self.processa_frescas()
# passas = self.processa_passas()

# vinhos = importacaoPreprocessor.processa_vinhos()

In [7]:
importacao_df = importacaoPreprocessor.preprocess()

Failed to load data from URL. Loading from local file.
[Errno 54] Connection reset by peer

In [8]:
importacao_df.head()

          NM_PAIS DT_ANO NM_ITEM  QTD_IMPORTADO_KG  VL_VALOR_IMPORTADO_USD
8748  Afeganistão   1970  Passas                 0                     0.0
8749  Afeganistão   1971  Passas                 0                     0.0
8750  Afeganistão   1972  Passas                 0                     0.0
8751  Afeganistão   1973  Passas                 0                     0.0
8752  Afeganistão   1974  Passas                 0                     0.0

In [9]:
importacao_df.groupby("NM_PAIS")["DT_ANO"].nunique()

NM_PAIS
Afeganistão                        54
Africa do Sul                      54
Alemanha                           54
Alemanha, República Democrática    54
Argentina                          54
                                   ..
Venezuela                          54
itália                             54
África do Sul                      54
Áustria                            54
Índia                              54
Name: DT_ANO, Length: 94, dtype: int64